p, body, td { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10pt; }
body { padding: 0px; margin: 0px; background-color: #ffffff; }
a { color: #1155a3; }
.space { margin: 10px 0px 10px 0px; }
.header { padding:20px 10px; }
.header h2 { padding: 0px; margin: 0px; text-align: center; }
.main { padding: 10px; margin-top: 10px; }

.toolbar {
    margin-bottom: 10px;
}

.toolbar-item a {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    color: #333;
    padding: 8px 0px;
    width: 80px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.toolbar-item a.selected-button {
    background-color: #f3f3f3;
    color: #000;
}

/* context menu icons */
.icon:before {
    position: absolute;
    margin-left: 0px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    content: "";
}

.icon-blue:before {
    background-color: #3d85c6;
}

.icon-green:before {
    background-color: #6aa84f;
}

.icon-orange:before {
    background-color: #e69138;
}

.icon-red:before {
    background-color: #cc4125;
}

/* active areas */
.area-menu-icon {
    background-color: #333333;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    opacity: 0.7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}